<div class="container mx-auto my-4 p-4 flex justify-center">
  <div
    class="grid gap-x-8 gap-y-12 md:grid-cols-2 xl:col-span-2 lg:grid-cols-3"
  >
    <div
      class="flex flex-col items-center gap-x-6 justify-start"
      *ngFor="let house of filteredHouse; let i = index"
    >
      <figure
        class="relative rounded-xl object-cover fill h-52 w-full overflow-hidden min-w-40 max-w-96"
      >
        <img
          [ngSrc]="house.imageUrl"
          alt="{{ house.house }}"
          fill
          class="rounded-xl object-cover fill h-auto w-full overflow-hidden min-w-40 max-w-96"
        />
      </figure>
      <div class="w-full py-4">
        <h2 class="card-title">{{ house.house }}</h2>
        <p>{{ house.location }}</p>
        <p>${{ house.price }}</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">
            <a [routerLink]="['housedetail', house.id]">Details</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
