<div class="container mx-auto my-4 p-4 flex justify-center">
  <div class="md:flex flex-wrap justify-center lg:justify-between">
    <div
      class="card w-full md:w-auto md:min-w-96 bg-slate-600 shadow-xl mt-6"
      *ngFor="let house of houses; let i = index"
    >
      <figure>
        <img
          [ngSrc]="house.imageUrl"
          alt="{{ house.house }}"
          height="100"
          width="200"
          class="rounded-xl object-cover h-52 w-full overflow-hidden min-w-40 max-w-96"
          priority
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{ house.house }}</h2>
        <p>{{ house.location }}</p>
        <p>${{ house.price }}</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">
            <routerLink [routerLink]="['housedetail', house.id]"
              >Details</routerLink
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
