<div class="container mx-auto navbar bg-base-100">
  <div class="flex-1">
    <a routerLink="" class="text-xl btn btn-ghost">Meet Homes</a>
  </div>
  <div class="flex-none">
    <ul class="px-1 menu menu-horizontal">
      @if (!isAuthenticated) {
        <menu class="hidden md:flex">
          <li><a routerLink="login">Login</a></li>
          <li><a routerLink="register">Register</a></li>
        </menu>
      }
      @if (isAuthenticated) {
        <li>
          <details>
            <summary>{{ user?.email }}</summary>
            <ul class="p-2 rounded-t-none bg-base-100">
              <li><a routerLink="profile">Profile</a></li>
              <li><a (click)="logout()">Logout</a></li>
            </ul>
          </details>
        </li>
      }

      @if (!isAuthenticated) {
        <li class="md:hidden">
          <details>
            <summary>menu</summary>
            <ul class="p-2 rounded-t-none bg-base-100">
              <li><a routerLink="login">login</a></li>
              <li><a routerLink="register">Register</a></li>
            </ul>
          </details>
        </li>
      }
    </ul>
  </div>
</div>
